* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main {
  margin-top: 60px;
  overflow: auto;
  padding-bottom: 250px;
}

.footer-info {
  padding: 1%;
  text-align: justify;
}

.footer-info a {
  color: white;
}

.footer-info li {
  list-style-type: none;
}

.banner {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.banner h2 {
  font-size: 55pt;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  color: #f3f3f3;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000;
  text-align: center;
}

.banner h5 {
  font-size: 30pt;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  color: #f3f3f3;
  -webkit-text-stroke: 1px black;
  text-align: center;
}

.banner-button {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.banner-button a {
  background: #D62B00;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.banner-button a:hover {
  background-color: #d64c00;
  border-color: #d64c00;
}

.desktop-nav a {
  color: #F3F3F3;
}

body {
  background-image: url('sito.jpg');
  background-size: cover;
  background-position: center;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow-X: hidden;
  overflow-Y: auto;
}

header {
  background: linear-gradient(#D62B00, #AD0000);
  border-bottom: 1px solid #DF4C00;
  box-shadow: 1px 0 2px rgba(0, 0, 0, .5);
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80% !important;
  /* you can use % */
  height: auto !important;
}

.bg-light {
  background-color: linear-gradient(#ff9d2f, #ff6126) !important;
  color: rgba(255, 250, 250, 0.7) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #F3F3F3 !important;
}

header [class*="menu-"] {
  cursor: pointer;
  font-size: 22px;
  height: initial;
  padding: 5px;
  width: initial;
}

header h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 100;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

header a {
  color: white;
  font-weight: bold;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  vertical-align: middle;
}

section {
  height: auto;
  margin: 60px auto 40px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.menu-header {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-footer {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 15px;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  text-align: right;
}

#menu-left li {
  box-shadow: 3px 0 rgba(52, 152, 219, .2) inset;
  margin-bottom: 5px;
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#menu-left {
  background: #F3F3F3;
  bottom: 0;
  color: black;
  height: 100%;
  position: fixed;
  top: 0;
  width: 305px;
  z-index: 99;
  border-right: 1px solid #161616;
  left: -305px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#menu-left a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

#menu-left a:hover {
  margin-left: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#menu-left .profile {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#menu-left .profile img {
  border: 1px solid #111;
  border-radius: 5px;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
}

#menu-left .content {
  margin-top: 75px;
  position: relative;
  height: initial;
  width: 100%;
}

#menu-left .content h5 {
  background: #353535;
  color: #CCC;
  font-weight: 400;
}

#menu-left .content .fa {
  padding: 0 8px 0 4px;
}

#cnt.active, section.active, header.active, #menu-left.active, footer.active {
  -webkit-transform: translate3d(305px, 0, 0);
  -moz-transform: translate3d(305px, 0, 0);
  transform: translate3d(305px, 0, 0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#footer.active {
  -webkit-transform: translate3d(305px, 0, 0);
  -moz-transform: translate3d(305px, 0, 0);
  transform: translate3d(305px, 0, 0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#footer h2 {
  color: #B4EF5E;
}

#footer {
  -webkit-box-shadow: inset 1px -9px 24px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 1px -9px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 1px -9px 24px 0px rgba(0, 0, 0, 1);
  background: linear-gradient(#D62B00, #AD0000);
  text-align: center;
  position: relative;
  height: 250px;
  margin-top: -250px;
  clear: both;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.social-bar {
  position: absolute;
  width: 300px;
  bottom: 25px;
  right: 25%;
  left: 50%;
  margin-left: -150px;
}

.social-bar a {
  display: inline-block;
  margin-right: 11px;
  font-size: 2.15em;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 350ms ease;
  -moz-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.social-bar a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#methods a {
  display: inline-block;
  font-size: 2.15em;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 350ms ease;
  -moz-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

#methods {
  text-align: center;
}

.checkout-buttons {
  text-align: center;
  padding: 12%;
}

#total-checkout {
  padding: 12%;
}

.back-button {
  display: none;
}

/*CARRELLO WORK*/

#shopping-cart-results {
  border-collapse: collapse;
  width: 100%;
}

#shopping-cart-results th, td {
  width: 25%;
  text-align: left;
  padding: 8px;
}

/*-----------FOODDETAILS-------------------*/

#btn-details {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

/*-----------FOOD HOVER EFFECT-------------------*/

#card-products {
  position: relative;
  margin: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* -------------- CARRELLO -------------- */

.main-head {
  position: relative;
}

.main-head a {
  color: white;
  position: absolute;
  font-size: 22pt;
  right: 5px;
  top: 5px
}

#chiudi-carrello {
  position: absolute;
  font-size: 22pt;
  right: 10px;
  top: 10px;
}

a.chiudi-carrello {
  text-decoration: none;
}

.cart {
  position: fixed;
  background: #f3f3f3;
  width: 400px;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translate(400px, 0);
  transition: transform 250ms ease-in-out;
  z-index: 20;
}

body.open .cart {
  transform: translate(0, 0);
}

.cart__header {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart__header .cart__text {
  float: right;
}

.cart__title {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  float: left;
}

.cart__products {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 70px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.cart__products article {
  padding: 15px;
  border-bottom: 1px dotted #ccc;
}

.cart__products article h1 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.cart__products article p {
  font-size: 14px;
  margin: 0;
}

.cart__products article p a {
  color: #f00;
}

.cart__product {
  display: none;
}

.cart__empty {
  padding: 30px 15px;
  margin: 0;
  font-style: italic;
  text-align: center;
}

.cart__empty.hide {
  display: none;
}

.cart__footer {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.cart__text {
  margin: 0;
}

.cart__text .button {
  padding: 10px 15px;
}

.lightbox {
  position: fixed;
  background: #000;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 250ms ease-in-out, width 0ms ease-in-out 250ms;
}

body.open .lightbox {
  width: 100%;
  opacity: 0.8;
  transition: opacity 250ms ease-in-out, width 0ms ease-in-out;
}

.container-register {
  border-radius: 25px;
  text-align: left;
  margin-top: 100px;
  padding: 10px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;
  background-color: white;
  -webkit-box-shadow: 11px 11px 97px -14px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 11px 11px 97px -14px rgba(0, 0, 0, 0.85);
  box-shadow: 11px 11px 97px -14px rgba(0, 0, 0, 0.85);
}

.margin50 {
  margin-bottom: 50px !important;
}

.margin20 {
  margin-bottom: 20px !important;
}

/* -------------- ACCOUNT -------------- */

.subtitle {
  font-size: 2rem !important;
}

.linkordini {
  text-decoration: none;
  color: #303030;
}

.linkordini:hover {
  color: #303030;
  text-decoration: none;
  background-color: black;
}

.alert-order {
  float: right;
  margin: 0px;
  padding: 5px;
}

p.order {
  display: inline;
  vertical-align: middle;
  padding: 0px;
}

h6.no-margin {
  display: inline;
  padding: 0px;
}

p.no-margin {
  margin: 0px;
  padding: 0px;
}

div.settings-text {
  float: left;
}

div.settings-btn {
  float: right;
}

/*------CARRELLO DESKTOP-----*/

#ds-sticky-button #cart-info {
  border-radius: 45px;
  transform: rotate(190deg);
}

#ds-sticky-button {
  position: fixed;
  right: -160px !important;
  top: 200px;
  width: auto !important;
  height: 250px !important;
  transform: rotate(90deg);
  transform-origin: left top 0;
}

#ds-sticky-button a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border: 1px solid #fff;
  color: #ffffff;
  font-size: 16px;
  background: #c1342a;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

#ds-sticky-button a:hover {
  background: #000000;
  text-decoration: none;
}

#corpo {
  text-align: center;
}

#card-colonne {
  column-gap: 20px;
  column-count: 2;
}

#card-img {
  -webkit-border-top-left-radius: 25px;
  -webkit-border-top-right-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 11vw;
  object-fit: cover;
}

#card-products {
  border-radius: 25px;
  margin-bottom: 10px;
}

#food-container {
  height: 100%;
  margin-top: 60px !important;
  padding-left: 180px !important;
  padding-right: 10px !important;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}

#cart-badge {
  border-radius: 45px;
  background: #FFFFFF;
  color: red;
  position: relative;
  top: -1px;
  left: -2px;
}

/*-------------------------------*/

/* CSS MEDIA QUERY
/*-------------------------------*/

@media only screen and (max-width: 980px) {
  body, #main, #container {
    margin-top: 0px;
    background-color: #FFF;
    background-size: cover;
    background-position: center;
  }
  #footer h2 {
    color: #B4EF5E;
  }
  #footer {
    opacity: 1;
    background: linear-gradient(#D62B00, #AD0000);
    text-align: center;
    position: relative;
    height: 550px;
    margin-top: -550px;
    clear: both;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  #main {
    background-image: url('sitomedia.jpg');
    padding-bottom: 550px;
  }
  .footer-info {
    text-align: center;
  }
  #ds-sticky-button {
    display: none;
  }
  #shopping-cart-results {
    border-collapse: collapse;
    width: 100%;
  }
  #shopping-cart-results th, td {
    width: 20%;
    text-align: left;
    padding: 2px;
  }
  .checkout-buttons {
    text-align: center;
    padding: 12%;
  }
  #total-checkout {
    padding: 12%;
  }
  #checkout-alert {
    margin-top: 80px;
  }
  #user-alert {
    margin-top: 80px;
  }
  #card-products {
    margin: auto;
    margin-bottom: 10px;
  }
  #card-colonne {
    column-count: 1;
  }
  #card-img {
    width: 100%;
    height: 45vw;
    object-fit: cover;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    text-align: center;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  #food-container {
    height: 100%;
    margin-top: 60px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
  }
  #methods {
    text-align: center;
  }
  .back-button {
    display: initial;
  }
}

@media only screen and (min-width: 640px) {
  #footer {
    opacity: 1;
    background: linear-gradient(#D62B00, #AD0000);
    text-align: center;
    position: relative;
    height: 250px;
    margin-top: -250px;
    clear: both;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  #container {
    min-height: 100%;
  }
  #main {
    margin-top: 60px;
    overflow: auto;
    padding-bottom: 250px;
  }
}

@media only screen and (max-width: 991px) {
  .container-register {
    height: 100%;
    margin-top: 60px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
  }
  .fullsize {
    width: 100%;
  }
}

/* -------------- ACCOUNT -------------- */

@media only screen and (min-width: 720px) {
  .btn-orders {
    float: right;
  }
}

/* -------------- DESKTOP MEDIA -------------- */

@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .desktop-nav {
    display: none;
  }
}

.boxcontainer {
  margin-top: 60px;
}